/docs/
/tests/
/prototype/
/private/
/run/
/build*/
/out/
/ultimate-headless
*.tar.gz
*.zip
*.bin
*.pcap
*.pcapng
*.log
*.pid
*.lock
*.profile
*.pem
*.key
*.pfx
.env
.env.*
__pycache__/
CMakeFiles/
CMakeCache.txt
*.o
*.obj
*.exe
*.dll
*.so
*.dmp
/core
/core.*
.vs/
.idea/

!/resources/login-context.bin
